<div class="container">
  <div class="row">
    <div class="col-auto offset-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">本当にアカウントを削除しますか？</h3>
          <br>
          アカウントを削除するとこれまでの投稿はすべて消去され見れなくなります。
          <br>
          よろしいですか？
          </p>
          <%= link_to "アカウント削除する", withdrawal_path, method: :patch, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>