<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contact</h3>
          <div class="row my-3">
            <div class="col-auto">
              お名前
            </div>
            <div class="col-auto offset-2">
              <%= @inquiry.name %>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-auto">
              メールアドレス
            </div>
            <div class="col-auto offset-1">
              <%= @inquiry.email %>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-auto">
              お問い合わせタイトル
            </div>
            <div class="col-auto ml-1">
              <%= @inquiry.title %>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-auto">
              お問い合わせ内容
            </div>
            <div class="col-auto ml-5">
              <%= @inquiry.text %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

