<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contact</h3>
          <table class="table-borderless">
            <tbody>
              <tr>
                <th>お名前</th>
                <th><%= @inquiry.name %></th>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <th><%= @inquiry.email %></th>
              </tr>
              <tr>
                <th>お問い合わせタイトル</th>
                <th><%= @inquiry.title %></th>
              </tr>
              <tr>
                <th>お問い合わせ内容</th>
                <th><%= @inquiry.text %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>