<div class="container">
  <div class="row">
    <div class="col offset-3">
      <%= image_tag 'IMG_9984.JPG', :size =>'400x400' %>
      <h3>Hello, cat lover!</h3>
      <p>
        ようこそ、　Cat.comへ！<br>
        ここはねこちゃん好きのためのSNSです。<br>
        かわいいねこちゃんを見て癒されたり、ご自慢のねこちゃんの可愛い姿をご投稿ください！<br>
        ねこちゃんモチーフの商品やサービスの情報共有も是非！
      </p>
    </div>
  </div>
</div>