<div class="container">
  <div class="row">
    <div class="col-auto offset-1">
      <div class="carousel slide" id="sample" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#sample" data-slide-to="0" class="active"></li>
          <li data-target="#sample" data-slide-to="1"></li>
          <li data-target="#sample" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner carousel-fade">
          <div class="carousel-item active">
            <%= image_tag 'nekocatPAR585662414_TP_V4.jpg', size: "1000x550" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'tomcat1577_TP_V4.jpg', size: "1000x550" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'tomneko12151308_TP_V4.jpg', size: "1000x550" %>
          </div>
        </div>
        <a href="#sample" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">前へ</span>
        </a>
        <a href="#sample" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">次へ</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-auto offset-5">
        <br>
        <h3 class="text-center">Hello, cat lover!</h3>
        <br>
        <p class="text-center">
          ようこそ、　Cat.comへ！<br>
          ここはねこちゃん好きのためのSNSです。<br>
          かわいいねこちゃんを見て癒されたり、ご自慢のねこちゃんの可愛い姿をご投稿ください！<br>
          ねこちゃんモチーフの商品やサービスの情報共有も是非！
        </p>
      </div>
    </div>
  </div>
</div>
