<div class="container">
  <div class="row">
    <div class="col offset-1">
      <h3>投稿一覧</h3>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>投稿者</th>
              <th></th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td>
                  <% post.image_files.first(1).each do |image| %>
                    <%= attachment_image_tag image, :image, size: "50x50" %>
                  <% end %>
                </td>
                <td><%= post.title %></td>
                <td><%= post.end_user.name %></td>
                <td>
                  <%= link_to "詳細へ", admin_post_path(post), class: "btn btn-success" %>
                </td>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>
