<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">User info</h3>
        </div>
        <div class="row">
          <div class="col-3 offset-1">
            <%= attachment_image_tag @end_user, :profile_image, size: "150x150", fallback: "no_image.jpg", class: "circle"%>
            <br>
            <div class="text-center my-1">
              <strong><%= @end_user.name %></strong>
            </div>
          </div>
          <div class="col-5 offset-1">
            <br>
            <div class="row my-3">
              <div class="col-auto">
                メールアドレス
              </div>
              <div class="col-auto offset-1">
                <%= @end_user.email %>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-auto">
                会員ステータス
              </div>
              <div class="col-auto offset-1">
                <% if @end_user.is_deleted == false %>
                  <p class="text-success">登録済</p>
                <% else %>
                  <p class="text-default">退会</p>
                <% end %>
              </div>
            </div>
            <div class="row mb-3">
              <%= link_to "ユーザー情報編集", edit_admin_end_user_path(@end_user), class: "btn btn-secondary btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>